<div class="recherche">
	<div class="search-display">
		<form id="search-form">
			<input type="text" id="search-input" placeholder="Rechercher un jeu" autocomplete="off">
			<button type="submit">
				<span>
					<ion-icon name="search-outline"></ion-icon>
				</span>
			</button>
		</form>
		<div class="search-overlay">
			<div id="search-results">
			</div>
		</div>
	</div>
</div>
