{% extends 'base.html.twig' %}

{% block title %}Filter Games
{% endblock %}

{% block body %}
	<div class="body-content">
		<div class="container">
			<div class="homepage">
				<h1>Homepage</h1>
			</div>
		</div>

	</div>
{% endblock %}
