{% extends 'base.html.twig' %}

{% block title %}Homepage
{% endblock %}

{% block body %}
<div class="body-content">
	<div class="container">
		<h1 class="text-center text-uppercase py-5">Accueil</h1>
	</div>

</div>
{% endblock %}
