// Login
.login-message {
    background-color: $red;
    padding: 1rem;
    border-radius: 5px;
    span {
        font-weight: bold;
        text-shadow: $text-shadow;
        color: $blue;
    }
}
.login_test {
    background-color: $purple;
    padding: 1rem;
    border-radius: 5px;
    margin: 2rem 0 2rem;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    p {
        margin: 0 0 0.5rem;
        color: $text-light;
        text-shadow: $text-shadow;
        text-transform: uppercase;
        font-weight: bold;
    }
    .login_test-text {
        margin-left: 1rem;
        span {
            font-weight: bold;
            color: $blue;
        }
    }
}

.formulaire_compte {
    height: 400px;
    position: relative;
    margin-bottom: 2rem;
    .login_register-link {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: $cards;
        height: 300px;
        width: 100%;
        padding: 3rem;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        border-radius: 5px;
        h3 {
            color: $text-light;
        }
        p {
            color: $text-light;
            margin: 1rem 0;
        }
        a {
            color: $text-light;
            width: 160px;
            text-transform: uppercase;
            font-weight: thin;
            border-color: #fff;
            border-radius: 0;
        }
        a:hover {
            background-color: gray;
            color: $cards;
            border: 1px solid gray;
        }
    }
    .login {
        position: absolute;
        top: 0;
        right: 3rem;
        background-color: $bg-white;
        color: #333;
        padding: 3rem;
        width: 45%;
        height: 400px;
        border-radius: 5px;
        h2 {
            color: $red;
            text-transform: uppercase;
        }
        .login-input {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            input {
                margin: 1rem 0;
                padding: 0.75rem;
                border: none;
                border-bottom: 1px solid #333;
                background-color: $bg-white;
            }
            input:focus {
                outline: none;
            }
            button {
                width: 150px;
                margin-left: auto;
                background-color: $red;
                color: $text-light;
                text-transform: uppercase;
                font-weight: thin;
            }
            button:hover {
                background-color: #b9454d;
            }
        }
    }
}

// Register
.formulaire_register {
    position: relative;
    height: 550px;
    margin-bottom: 2rem;
    .login_register-link {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: $cards;
        height: 300px;
        width: 100%;
        padding: 3rem;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: end;
        border-radius: 5px;
        h3 {
            color: $text-light;
        }
        p {
            color: $text-light;
            margin: 1rem 0;
        }
        a {
            color: $text-light;
            width: 160px;
            text-transform: uppercase;
            font-weight: thin;
            border-color: #fff;
            border-radius: 0;
        }
        a:hover {
            background-color: gray;
            color: $cards;
            border: 1px solid gray;
        }
    }
    .register {
        position: absolute;
        top: 0;
        left: 3rem;
        background-color: $bg-white;
        color: #333;
        padding: 3rem;
        width: 45%;
        height: 550px;
        border-radius: 5px;
        h2 {
            color: $red;
            text-transform: uppercase;
        }
        .login-input {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            .register_form-checkbox {
                display: flex;
                align-items: center;
                margin: 1rem 0;
                label {
                    margin-right: 1rem;
                }
                input[type="checkbox"] {
                    appearance: none;
                    background-color: transparent;
                    color: transparent;
                    width: 20px;
                    height: 20px;
                    position: relative;
                    margin: 0;
                    border-bottom: none;

                    &::before {
                        content: "";
                        display: block;
                        width: 20px;
                        height: 20px;
                        border: 1px solid $cards;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    &:checked::before {
                        background-color: $blue;
                    }
                    &:checked::after {
                        content: "";
                        position: absolute;
                        width: 5px;
                        height: 10px;
                        border: solid white;
                        border-width: 0 2px 2px 0;
                        top: 45%;
                        left: 45%;
                        transform: translate(-55%, -60%) rotate(45deg);
                    }
                }
            }

            input {
                width: 100%;
                margin: 1rem 0;
                padding: 0.75rem;
                border: none;
                border-bottom: 1px solid #333;
                background-color: $bg-white;
            }
            input:focus {
                outline: none;
            }
            button {
                width: 150px;
                margin: auto 0 0 auto;
                background-color: $red;
                color: $text-light;
                text-transform: uppercase;
                font-weight: thin;
            }
            button:hover {
                background-color: #b9454d;
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .auth-container {
        margin: 0;
    }

    .formulaire_compte {
        height: 550px;
        position: relative;
        margin-bottom: 2rem;
        .login_register-link {
            position: absolute;
            top: 332px;
            left: 0;
            transform: translate(0, 0);
            background-color: $cards;
            height: 215px;
            width: 100%;
            padding: 1.5rem;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            border-radius: 5px;
        }
        .login {
            position: absolute;
            top: 0 !important;
            left: 0;
            background-color: $bg-white;
            color: #333;
            padding: 1.5rem;
            width: 100%;
            height: 300px;
            border-radius: 5px;
        }
    }

    .formulaire_register {
        position: relative;
        height: 684px;
        margin-bottom: 2rem;
        .login_register-link {
            position: absolute;
            top: 464px;
            left: 0;
            transform: translateY(0);
            background-color: $cards;
            height: 220px;
            width: 100%;
            padding: 1.5rem;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: end;
            border-radius: 5px;
        }
        .register {
            position: absolute;
            top: 0;
            left: 0;
            background-color: $bg-white;
            color: #333;
            padding: 1.5rem;
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (min-width: 780px) and (max-width: 1200px) {

}
