.game-carte {
    display: flex;
    flex-flow: row nowrap;
    background-color: $cards;
    width: 100%;
    height: 166.39px; //! Ici on impose la hauteur de la carte
    overflow: hidden;
    border-radius: 3px;
    .carte_collection {
        z-index: 10;
        width: 10%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: #3a3a3a;
        opacity: 0.8;
        background-image: radial-gradient(#000000 0.55px, #3a3a3a 0.55px);
        background-size: 11px 11px;

        .collection_button {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100% !important;
            height: 33px !important;
            background-color: $cards;
            padding: 5px 0;
            border: none;

            .collection_icon {
                width: 50%;
                height: 50%;
            }
            &:hover {
                cursor: pointer;
                .pophover {
                    display: inline-block;
                }
            }
        }
        .pophover {
            display: none;
            position: absolute;
            top: 50%; /* Positionnez la popover en dessous du bouton */
            right: 100%; /* Centrez la popover */
            transform: translateY(-50%); /* Décalez la popover pour la centrer correctement */
            color: #fff;
            text-shadow: $text-shadow;
            padding: 0rem 0.5rem; /* Espacement à l'intérieur de la popover */
            border-radius: 5px;
            font-size: 0.9rem;
            &::after {
                content: "";
                position: absolute;
                top: 50%; /* Centrez le triangle verticalement */
                right: -10px; /* Positionnez le triangle à droite de la popover */
                transform: translateY(-50%) rotate(90deg); /* Décalez le triangle pour le centrer correctement */
                border-width: 5px;
                border-style: solid;
                border-color: transparent #eee transparent transparent; /* Ajustez les couleurs des bordures pour que le triangle pointe vers la gauche */
            }
        }
        .pophover-collection {
            background-color: $blue;
            &::after {
                border-color: transparent transparent $blue transparent;
            }
        }
        .pophover-like {
            background-color: $red;
            &::after {
                border-color: transparent transparent $red transparent;
            }
        }
        .pophover-wishlist {
            background-color: $yellow;
            &::after {
                border-color: transparent transparent $yellow transparent;
            }
        }
        .pophover-delete {
            background-color: $nintendo;
            &::after {
                border-color: transparent transparent $nintendo transparent;
            }
        }

        .add-collection {
            border-radius: 3px 0 0 0;
            background-color: #3a3a3a;
            opacity: 0.8;
            background-image: radial-gradient(#000000 0.55px, #3a3a3a 0.55px);
            background-size: 11px 11px;
            .icon-collection {
                .icon-collection-path {
                    fill: #eee;
                    stroke: #eee;
                }
            }
            &:hover {
                .icon-collection {
                    .icon-collection-path {
                        fill: $blue;
                        stroke: $blue;
                    }
                }
            }
        }
        .remove-collection {
            background-color: $blue;
            .icon-collection {
                .icon-collection-path {
                    fill: #eee;
                    stroke: #eee;
                }
            }
            &:hover {
                background-color: $nintendo;
                .icon-collection {
                    .icon-collection-path {
                        fill: #eee;
                        stroke: #eee;
                    }
                }
            }
        }
        .add-like {
            background-color: #3a3a3a;
            opacity: 0.8;
            background-image: radial-gradient(#000000 0.55px, #3a3a3a 0.55px);
            background-size: 11px 11px;
            .icon-like {
                .icon-like-path {
                    fill: #eee;
                    stroke: #eee;
                }
            }
            &:hover {
                .icon-like {
                    .icon-like-path {
                        fill: $red;
                        stroke: $red;
                    }
                }
            }
        }
        .remove-like {
            background-color: $red;
            .icon-like {
                .icon-like-path {
                    fill: #eee;
                    stroke: #eee;
                }
            }
            &:hover {
                background-color: $nintendo;
                .icon-like {
                    .icon-like-path {
                        fill: #eee;
                        stroke: #eee;
                    }
                }
            }
        }
        .add-wishlist {
            background-color: #3a3a3a;
            opacity: 0.8;
            background-image: radial-gradient(#000000 0.55px, #3a3a3a 0.55px);
            background-size: 11px 11px;
            .icon-wishlist {
                .icon-wishlist-path {
                    fill: #eee;
                    stroke: #eee;
                }
            }
            &:hover {
                .icon-wishlist {
                    .icon-wishlist-path {
                        fill: $yellow;
                        stroke: $yellow;
                    }
                }
            }
        }
        .remove-wishlist {
            background-color: $yellow;
            .icon-wishlist {
                .icon-wishlist-path {
                    fill: #eee;
                    stroke: #eee;
                }
            }
            &:hover {
                background-color: $nintendo;
                .icon-wishlist {
                    .icon-wishlist-path {
                        fill: #eee;
                        stroke: #eee;
                    }
                }
            }
        }
        .delete-all {
            background-color: $nintendo;
            margin-bottom: auto;
            .icon-delete {
                .icon-delete-path {
                    fill: #eee;
                    stroke: #eee;
                    stroke-width: 95px;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                }
            }
        }
    }
    .carte-image {
        width: 40%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $cards;
        // border-radius: 0 0 0 3px;
        a {
            img {
                width: 100%;
                object-fit: cover;
                // border-radius: 0 0 0 3px;
            }
        }
        .carte-category {
            position: absolute;
            bottom: 0;
            left: 0;
            color: #fff;
            font-size: 0.7rem;
            font-weight: bold;
            text-shadow: $text-shadow;
            padding: 0.3rem 0.5rem;
            text-transform: uppercase;
            // border-radius: 0 0 0 3px;
            background-color: $playsation;
        }
    }
    .carte_body {
        width: 50%;
        height: 100% !important;
        padding: 0.5rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        background-color: #3a3a3a;
        background-image: radial-gradient(#000000 0.55px, #3a3a3a 0.55px);
        background-size: 11px 11px;
        .carte_body-title {
            a {
                text-decoration: none;
                h2 {
                    font-size: 1.1rem;
                    color: #eee;
                    font-weight: bold;
                    text-shadow: $text-shadow;
                }
            }
        }
        .carte-infos {
            display: flex;
            flex-flow: row wrap;
        }
        .carte_body-platforms {
            .carte-platforms {
                font-size: 0.7rem;
                background-color: $blue;
                columns: #eee;
                text-shadow: $text-shadow;
                margin-right: 0.3rem;
                margin-bottom: 0.3rem;
            }
        }
        .carte_body-footer {
            // margin-top: auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            .carte_footer-release {
                span {
                    text-shadow: $text-shadow;
                }
            }
            .carte_footer-rating {
                p {
                    margin: 0;
                    text-align: right;
                    font-weight: bold;
                }
                .score {
                    padding: 0.2rem 0.3rem;
                    font-size: 0.75rem;
                    font-weight: bold;
                    border-radius: 3px;
                    text-shadow:
                        2px 0 black,
                        -2px 0 black,
                        0 2px black,
                        0 -2px black,
                        1px 1px black,
                        -1px -1px black,
                        1px -1px black,
                        -1px 1px black;
                }
                .score-green {
                    border: 2px solid $green;
                    color: $green;
                }
                .score-blue {
                    border: 2px solid $blue;
                    color: $blue;
                }
                .score-yellow {
                    border: 2px solid $yellow;
                    color: $yellow;
                }
                .score-red {
                    border: 2px solid $red;
                    color: $red;
                }
                .score-null {
                    border: 2px solid #888;
                    color: #888;
                    text-shadow: none !important;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .game-carte {
        height: auto !important; //! Ici on impose la hauteur de la carte
        .carte_body {
            padding: 1rem;
            width: 60% !important;
            .carte_body-title {
                h2 {
                    font-size: 1.5rem !important;
                }
            }
            .carte-platforms {
                    font-size: 1.1rem !important;
            }
            .carte_body-footer {
                span {
                    font-size: 1.1rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .game-carte {
        .carte_body {
            width: 60%;
            height: 100% !important;
            padding: 0.5rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            background-color: #3a3a3a;
            background-image: radial-gradient(#000000 0.55px, #3a3a3a 0.55px);
            background-size: 11px 11px;
        }
    }
}
