$red: #ee727a;
$green: #c4e791;
$yellow: #feca72;
$blue: #84acfc;
$purple: #c694e8;
$light-blue: #8cddfd;
$bg: #3a3f54;
$bg-light: #434961;
$bg-dark: #2a2d3c;
$bg-grey: #343a40;
$cards: #3a3a3a;
$bg-txt: rgba(255, 255, 255, 0.200);
$bg-white: #eee;
$text-light: #fff;


// Générique
$background: transparent;
$text-color: transparent;
$text-shadow: transparent;
$border-color: transparent;

// Cards
$card-bg: transparent;
$card-bg-hover: transparent;
$card-bg-active: transparent;
$card-bg-active-hover: transparent;
$card-border: transparent;
$card-border-hover: transparent;
$card-border-active: transparent;
$card-border-active-hover: transparent;
$card-text: transparent;
$card-text-hover: transparent;
$card-text-active: transparent;
$card-text-active-hover: transparent;
$card-shadow: transparent;
$card-shadow-hover: transparent;
$card-shadow-active: transparent;
$card-shadow-active-hover: transparent;



// Navigation
$nav-bg: #eee;
$nav-text: transparent;
$nav-text-hover: transparent;
$nav-text-active: transparent;
$nav-item: transparent;
$nav-item-hover: transparent;
$nav-item-active: transparent;
$nav-item-active-hover: transparent;
$nav-item-border: transparent;
$nav-item-border-hover: transparent;