$red: #ee727a;
$green: #c4e791;
$yellow: #feca72;
$blue: #84acfc;
$purple: #c694e8;
$light-blue: #8cddfd;
$cyber: #fcee09;
$bg: #3a3f54;
$bg-light: #434961;
$bg-dark: #2a2d3c;
$bg-grey: #343a40;
$cards: #3a3a3a;
$bg-txt: rgba(255, 255, 255, 0.2);
$bg-white: #eee;
$text-light: #fff;

// Platforms
$pc: $cyber;
$playsation: #006FCD;
$xbox: #107C10;
$nintendo: #E70009;

// Générique
$background: #41495a;
$text-color: transparent;
$border-color: transparent;
$text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    1px 1px black,
    -1px -1px black,
    1px -1px black,
    -1px 1px black;

// Cards
$card-bg: transparent;
$card-bg-hover: transparent;
$card-bg-active: transparent;
$card-bg-active-hover: transparent;
$card-border: transparent;
$card-border-hover: transparent;
$card-border-active: transparent;
$card-border-active-hover: transparent;
$card-text: transparent;
$card-text-hover: transparent;
$card-text-active: transparent;
$card-text-active-hover: transparent;
$card-shadow: transparent;
$card-shadow-hover: transparent;
$card-shadow-active: transparent;
$card-shadow-active-hover: transparent;

//* Navigation
// Button Toggle navigation
$nav-arrow-bg: tomato;
$nav-arrow-color: #eee;
// $nav-arrow-color: #41495a;

$nav-bg: #eee;
$nav-text: #41495a;

// Item
$nav-item-bg: #d5d7d8;
$nav-item-border: #8a939940;

// Active Item
$nav-item-active-bg: tomato;
$nav-item-active-border: tomato;
$nav-item-active-texte: #41495a;

// Hover Item
$nav-item-hover-border: tomato;
$nav-item-hover-bg: tomato;
$nav-item-hover-text: #41495a;
