.background_top {
    z-index: -1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    .background_top-image {
        position: absolute;
        top: 25%;
        left: 0;
        transform: translateY(-25%);
        width: 100%;
        height: auto;
        opacity: 0.05;
    }
}

.fil_ariane {
    position: absolute;
    top: 40%;
    right: 10%;
    .fil_ariane_list {
        list-style: none;
        padding: 0;
        .fil_ariane_list-item {
        }
    }
}

.game-details {
    padding-top: 10%;

    .game_presentation {
        position: relative;
        height: 100%;
        // padding-top: 10rem;
        .game_cover {
            position: absolute;
            top: -25%;
            left: 0;
            transform: translateY(-25%);
            width: 25%;
            .game_cover-image {
                width: 100%;
                height: auto;
            }
        }
        .game_titles {
            margin-left: 25%;
        }
    }

    .game_informations {
        background-color: #3a3a3a;
        padding-bottom: 100px;
        .game_informations-content {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;

            .game_rating {
                width: 25%;
                margin-top: auto;
            }

            .informations {
                width: 75%;
                .information_header {
                    .information_nav {
                        padding: 0;
                        list-style: none;
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        height: 100px;
                        padding-left: 1.3rem;
                        .information_nav-link {
                            font-size: 1.125rem;
                            font-weight: bold;
                            text-transform: uppercase;
                            padding: 0;
                            padding-bottom: 5px;
                            background-color: transparent;
                            border: none;
                            margin-right: 1rem;
                            color: #eee;
                        }
                        .information_nav-link-active {
                            border-bottom: 1px solid #eee;
                            text-decoration: none;
                            padding-bottom: 5px;
                        }
                        .information_nav-button {
                            margin-left: auto;
                            height: 100%;
                            width: 30%;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: flex-end;
                            align-items: center;
                            background-color: $yellow;
                            button {
                                background-color: $yellow;
                                width: 100px;
                                height: 100%;
                                border: none;
                                &:hover {
                                    background-color: darken($yellow, 5%);
                                    // opacity: 0.2;
                                }
                                svg {
                                    width: 25%;
                                    height: auto;
                                }
                            }
                            .information_nav-link-next {
                                border-left: 1px solid #3a3a3a;
                            }
                        }
                    }
                }
                .information_body {
                    background-color: #eee;
                    height: 420px;
                    padding: 1.5rem;
                    color: #3a3a3a;
                    overflow-y: auto;

                    /* Personnalisation de la barre de défilement */
                    &::-webkit-scrollbar {
                        width: 5px;
                    }

                    &::-webkit-scrollbar-track {
                        background: #eee;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: #888;
                    }

                    &::-webkit-scrollbar-thumb:hover {
                        background: #555;
                    }

                    .information_body-item-content {
                        font-size: 1rem;
                        line-height: 1.5rem;
                        h3 {
                            font-size: 1.5rem;
                            font-weight: bold;
                            margin-bottom: 1rem;
                        }
                    }

                    #histoire {
                        .game_summary {
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
        }
    }
}

.game_collection {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10rem;
    .collection_header {
        height: 100px;
        width: 100%;
        background-color: #eee;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 0 0 0 2rem;
        .collection_nav-link {
            font-size: 1.125rem;
            font-weight: bold;
            text-transform: uppercase;
            padding: 0;
            padding-bottom: 5px;
            background-color: transparent;
            border: none;
            margin-right: 1rem;
            color: #3a3a3a;
            border-bottom: 1px solid #eee;
            text-decoration: none;
            padding-bottom: 5px;
        }
        .collection_nav-link-active {
            border-bottom: 1px solid #3a3a3a;
            text-decoration: none;
            padding-bottom: 5px;
        }
    }
    .collection_body {
        width: 100%;
        height: 660px;
        display: flex;
        flex-flow: row wrap;
        overflow: hidden;
        .collection_body-left {
            width: 55%;
            height: 660px;
            position: relative;
            .left_informations {
                background-color: #eee;
                color: #3a3a3a;
                width: 100%;
                height: 480px;
                display: flex;
                flex-flow: column nowrap;
                padding: 4rem 13rem 2rem 4rem;
                .collection_franchises-title{
                    color: #888;
                    font-weight: bolder;
                    font-size: 1.25rem;
                    text-transform: uppercase;
                }
                .collection_franchises-name{
                    
                    font-size: 2rem;
                    font-weight: bolder;
                }
                .collection_title{
                    margin-top: 2rem;
                }
                .collection_summary {
                    color: #888;
                    font-size: 0.85rem;
                }
            }
            .left_covers {
                z-index: 99;
                position: absolute;
                top: 10%;
                left: 75%;
                height: auto;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                .collection_cover-active {
                    width: 340px;
                    height: auto;
                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 3px;
                    }
                }
                .collection_covers {
                    display: flex;
                    flex-flow: row nowrap;
                    img {
                        width: 280px;
                        height: auto;
                        padding-left: 3rem;
                        filter: brightness(0.3) contrast(0.8);
                        border-radius: 5px;
                    }
                }
            }
            .left_platforms {
                background-color: #3a3a3a;
                width: 100%;
                height: 180px;
                padding: 3rem 4rem;
                h3 {
                    display: inline-block;
                    width: 100%;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    color: #eee;
                }
                .collections_platforms  {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    p {
                        margin-right: 1rem;
                        color: #eee;
                        font-size: 1rem;
                        font-weight: bolder;
                    }
                }
            }
        }
        .collection_body-right {
            width: 45%;
            height: 660px;
            position: relative;
            .right_background {
                max-height: 680px;
                width: 100%;
                .collection_cover-background {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: auto;
                        filter: grayscale(100%) brightness(0.8) contrast(1);
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(
                            to top right,
                            #3a3a3a 0%,
                            #3a3a3a 10%,

                            rgba(58, 58, 58, 0.8) 50%,
                            rgba(58, 58, 58, 0.8) 100%
                        );
                    }
                }
            }
            .buttons_group {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 10;
                height: 65px;
                width: 35%;
                z-index: 10;
                background-color: $yellow;
                display: flex;
                flex-flow: row nowrap;
                justify-content: end;
                align-items: center;
                button {
                    background-color: $yellow;
                    width: 65px;
                    height: 100%;
                    border: none;
                    &:hover {
                        background-color: darken($yellow, 5%);
                        // opacity: 0.2;
                    }
                    svg {
                        width: 25%;
                        height: auto;
                    }
                }
                #collection-previous {
                    border-right: 1px solid #3a3a3a;
                }
            }
        }
    }
}
