.background_top {
    z-index: -1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    .background_top-image {
        position: absolute;
        top: 25%;
        left: 0;
        transform: translateY(-25%);
        width: 100%;
        height: auto;
        opacity: 0.05;
    }
}

.fil_ariane {
    position: absolute;
    top: 40%;
    right: 10%;
    .fil_ariane_list {
        list-style: none;
        padding: 0;
        .fil_ariane_list-item {
        }
    }
}

.game-details {
    padding-top: 10%;

    .game_presentation {
        position: relative;
        height: 100%;
        // padding-top: 10rem;
        .game_cover {
            position: absolute;
            top: -25%;
            left: 0;
            transform: translateY(-25%);
            width: 25%;
            .game_cover-image {
                width: 100%;
                height: auto;
            }
        }
        .game_titles {
            margin-left: 25%;
        }
    }

    .game_informations {
        background-color: #3a3a3a;
        padding-bottom: 100px;
        .game_informations-content {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;

            .game_rating {
                width: 25%;
                margin-top: auto;
            }

            .informations {
                width: 75%;
                .information_header {
                    .information_nav {
                        padding: 0;
                        list-style: none;
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        height: 100px;
                        padding-left: 1.3rem;
                        .information_nav-link {
                            font-size: 1.125rem;
                            font-weight: bold;
                            text-transform: uppercase;
                            padding: 0;
                            padding-bottom: 5px;
                            background-color: transparent;
                            border: none;
                            margin-right: 1rem;
                            color: #eee;
                        }
                        .information_nav-link-active {
                            border-bottom: 1px solid #eee;
                            text-decoration: none;
                            padding-bottom: 5px;
                        }
                        .information_nav-button {
                            margin-left: auto;
                            height: 100%;
                            width: 30%;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: flex-end;
                            align-items: center;
                            background-color: $yellow;
                            button {
                                background-color: $yellow;
                                width: 100px;
                                height: 100%;
                                border: none;
                                &:hover {
                                    background-color: darken($yellow, 5%);
                                    // opacity: 0.2;
                                }
                                svg {
                                    width: 25%;
                                    height: auto;
                                }
                            }
                            .information_nav-link-next {
                                border-left: 1px solid #3a3a3a;
                            }
                        }
                    }
                }
                .information_body {
                    background-color: #eee;
                    height: 420px;
                    padding: 1.5rem;
                    color: #3a3a3a;
                    overflow-y: auto;

                    /* Personnalisation de la barre de défilement */
                    &::-webkit-scrollbar {
                        width: 5px;
                    }

                    &::-webkit-scrollbar-track {
                        background: #eee;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: #888;
                    }

                    &::-webkit-scrollbar-thumb:hover {
                        background: #555;
                    }

                    .information_body-item-content {
                        font-size: 1rem;
                        line-height: 1.5rem;
                        h3 {
                            font-size: 1.5rem;
                            font-weight: bold;
                            margin-bottom: 1rem;
                        }
                    }

                    #histoire {
                        .game_summary {
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
        }
    }

    .game_collection {
        background-color: #eee;
        width: 100%;
        padding: 0;
        margin-bottom: 10rem;
        .collection_header {
            width: 100%;
            height: 100px;
            padding-left: 20px;
            .collection_nav {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                height: 100%;
                width: 100%;
                padding-left: 1.3rem;
                .collection_nav-link {
                    font-size: 1.125rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 0;
                    padding-bottom: 5px;
                    background-color: transparent;
                    border: none;
                    margin-right: 1rem;
                    color: #3a3a3a;
                }
                .collection_nav-link-active {
                    border-bottom: 1px solid #3a3a3a;
                    text-decoration: none;
                    padding-bottom: 5px;
                }
            }
        }
        .collection_body, .dlcs_body, .expansions_body { 
            position: relative;
            overflow: hidden;
            .collection_body-content {
                .collection_body-collection {
                    display: flex;
                    flex-flow: row nowrap;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .collection-infos {
                        width: 55%;
                        display: flex;
                        flex-flow: row wrap;
                        .collection_games-cover {
                            width: 100%;
                            // overflow: visible;
                            z-index: 99;
                            position: absolute;
                            top: 10%;
                            left: 45%;
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;
                            .cover_collection {
                                position: relative;
                                width: 15%;
                                height: 100%;
                                margin-right: 3rem;
                                filter: grayscale(100%) brightness(0.58) contrast(1);
                            }
                            .cover_collection-active {
                                width: 25%;
                                height: 100%;
                                margin-right: 3rem;
                            }
                        }
                        .collection-infos-content {
                            background-color: #eee;
                            color: #3a3a3a;
                            width: 100%;
                            padding: 4rem 12rem 2rem 4rem;
                            height: 480px;
                            display: flex;
                            flex-flow: column nowrap;
                            .collection-infos-title {
                                font-size: 0.9rem;
                                columns: #888;
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                            .collection_franchise-name {
                                font-size: 3rem;
                                font-weight: bolder;
                                margin-bottom: 1.5rem;
                                text-transform: uppercase;
                            }
                            .collection_title {
                                text-transform: uppercase;
                                font-size: 1.75rem;
                                font-weight: bold;
                            }
                            .collection_summary {
                                font-size: 1rem;
                                color: #888;
                            }
                        }
                        .collection-infos-platforms {
                            background-color: #3a3a3a;
                            color: #eee;
                            width: 100%;
                            height: auto;
                            // padding: 2rem 4rem;
                            padding: 2rem 0 2rem 4rem;
                            h3 {
                                font-size: 1rem;
                                font-weight: bold;
                                margin-bottom: 1.5rem;
                            }
                            .collection_platforms {
                                display: flex;
                                flex-flow: row nowrap;
                                p {
                                    display: inline-block;
                                    font-size: 1rem;
                                    margin: 0 1rem 0 0;
                                }
                            }
                        }
                    }
                    .collection-images {
                        width: 45%;
                        min-height: 100%;
                        position: relative;
                        overflow: hidden;
                        .collection_images-background {
                            position: absolute;
                            top: -25%;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            img {
                                width: 100%;
                                height: auto;
                                filter: grayscale(100%) brightness(0.58) contrast(1);
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                top: 25%;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-image: linear-gradient(to top right, rgba(58, 58, 58, 1) 0%, rgba(58, 58, 58, 1) 10%, rgba(58, 58, 58, 0.5) 50%, rgba(58, 58, 58, 0.3) 100%);
                            }
                        }

                        .collection-images-cover-next {
                            position: absolute;
                        }
                    }
                }
            }
            .collection_buttons {
                position: absolute;
                bottom: 0;
                right: 0;
                height: 65px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                align-items: center;
                background-color: $yellow;
                button {
                    background-color: $yellow;
                    width: 65px;
                    height: 100%;
                    border: none;
                    &:hover {
                        background-color: darken($yellow, 5%);
                        // opacity: 0.2;
                    }
                    svg {
                        width: 25%;
                        height: auto;
                    }
                }
                .next {
                    border-left: 1px solid #3a3a3a;
                }
            }
        }
    }
}

.collections-position {
    position: relative; // Ajoutez cette ligne si elle n'est pas déjà présente

    .franchises-content,
    .dlcs-content,
    .expansions-content {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }
}
