@media screen and (max-width: 768px) {
    // New Games Template
    .new-game-template {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2em;
        margin-bottom: 2rem;
    }

    // Popular Games Template
    .popular-game-template {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2em;
        margin-bottom: 2rem;
    }

    // Friends Template
    .friends-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        margin-bottom: 2rem;
    }

    //Game Detail Template
    .expansions-template {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2em;
        width: 100%;
    }

    .dlcs-template {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2em;
        width: 100%;
    }

    .franchises-template {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2em;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    // New Games Template
    .new-game-template {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
    }

    // Popular Games Template
    .popular-game-template {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
    }

    // Friends Template
    .friends-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
    }

    //Game Detail Template
    .expansions-template {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
        width: 100%;
    }

    .dlcs-template {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
        width: 100%;
    }

    .franchises-template {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    // Home Page Template
    #games_list {
        .games_cards {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-gap: 1rem;
        }
    }
    // Pagination Template
    .pagination-template {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
    }
    // New Games Template
    .new-game-template {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
    }

    // Popular Games Template
    .popular-game-template {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
    }

    // Friends Template
    .friends-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
    }

    //Game Detail Template
    .expansions-template {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
        width: 100%;
    }

    .dlcs-template {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
        width: 100%;
    }

    .franchises-template {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
        width: 100%;
    }
}
