.last_tested_games {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 3px;
    .game_card-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 10;
        border-radius: 3px;
    }
    .game_card-category {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 30;
        background-color: $playsation;
        padding: 0.5rem 0.75rem;
        border-radius: 0 0 0 3px;
        p {
            font-size: 1.2rem;
            font-weight: bold;
            text-shadow: $text-shadow;
            text-transform: uppercase;
        }
    }
    .game_card-body-active {
        .game_card-name {
            opacity: 0 !important;
        }
        z-index: 45 !important;
        .add-collection {
            z-index: 200 !important;
            opacity: 1 !important;
        }
        .add-like {
            z-index: 200 !important;
            opacity: 1 !important;
        }
        .add-wishlist {
            z-index: 200 !important;
            opacity: 1 !important;
        }
        .game_card-link {
            z-index: 200 !important;
            opacity: 1 !important;
        }
        .game_card-footer {
            z-index: 200 !important;
            opacity: 1 !important;
        }
    }
    .game_card-body {
        display: flex;
        z-index: 500;
        // opacity: 1;
        // transition: opacity 0.3s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        .game_card-name {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
            z-index: 10;
            padding: 0.5rem;
            opacity: 1;
            text-align: center;
            transition: opacity 0.3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            h3 {
                color: $blue;
                font-size: 1.2rem;
                font-weight: bold;
                text-shadow: $text-shadow;
            }
        }
        .game_card-collections {
            width: 100%;
            height: 40%;
            padding: 0.5rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            transition: opacity 0.3s ease-in-out;
            .collection_button {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.75rem;
                height: 2.75rem;
                background-color: $cards;
                padding: 0;
                border: none;
                border-radius: 50%;
                // transition: opacity 0.3s ease-in-out;
                .collection_icon {
                    width: 50%;
                    height: 50%;
                }
                &:hover {
                    cursor: pointer;
                    .pophover {
                        display: inline-block;
                    }
                }
            }
            .pophover {
                display: none;
                position: absolute;
                bottom: -1.68rem; /* Positionnez la popover en dessous du bouton */
                left: 50%; /* Centrez la popover */
                transform: translateX(-50%); /* Décalez la popover pour la centrer correctement */
                color: #fff;
                text-shadow: $text-shadow;
                padding: 0rem 0.5rem; /* Espacement à l'intérieur de la popover */
                border-radius: 5px;
                font-size: 0.9rem;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 100%; /* Positionnez le triangle au-dessus de la popover */
                    left: 50%; /* Centrez le triangle */
                    transform: translateX(-50%); /* Décalez le triangle pour le centrer correctement */
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent #eee transparent;
                }
            }
            .pophover-collection {
                background-color: $blue;
                &::after {
                    border-color: transparent transparent $blue transparent;
                }
            }
            .pophover-like {
                background-color: $red;
                &::after {
                    border-color: transparent transparent $red transparent;
                }
            }
            .pophover-wishlist {
                background-color: $yellow;
                &::after {
                    border-color: transparent transparent $yellow transparent;
                }
            }

            .add-collection {
                z-index: -1;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                .icon-collection {
                    .icon-collection-path {
                        fill: #eee;
                        stroke: #eee;
                    }
                }
                &:hover {
                    .icon-collection {
                        .icon-collection-path {
                            fill: $blue;
                            stroke: $blue;
                        }
                    }
                }
            }
            .remove-collection {
                z-index: 50 !important;
                opacity: 1 !important;
                background-color: $blue;
                .icon-collection {
                    .icon-collection-path {
                        fill: #eee;
                        stroke: #eee;
                    }
                }
                &:hover {
                    background-color: $cards;
                    .icon-collection {
                        .icon-collection-path {
                            fill: $nintendo;
                            stroke: $nintendo;
                        }
                    }
                }
            }
            .add-like {
                z-index: -1;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                .icon-like {
                    .icon-like-path {
                        fill: #eee;
                        stroke: #eee;
                    }
                }
                &:hover {
                    .icon-like {
                        .icon-like-path {
                            fill: $red;
                            stroke: $red;
                        }
                    }
                }
            }
            .remove-like {
                z-index: 50 !important;
                opacity: 1 !important;
                background-color: $red;
                .icon-like {
                    .icon-like-path {
                        fill: #eee;
                        stroke: #eee;
                    }
                }
                &:hover {
                    background-color: $cards;
                    .icon-like {
                        .icon-like-path {
                            fill: $nintendo;
                            stroke: $nintendo;
                        }
                    }
                }
            }
            .add-wishlist {
                z-index: -1;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                .icon-wishlist {
                    .icon-wishlist-path {
                        fill: #eee;
                        stroke: #eee;
                    }
                }
                &:hover {
                    .icon-wishlist {
                        .icon-wishlist-path {
                            fill: $yellow;
                            stroke: $yellow;
                        }
                    }
                }
            }
            .remove-wishlist {
                z-index: 50 !important;
                opacity: 1 !important;
                background-color: $yellow;
                .icon-wishlist {
                    .icon-wishlist-path {
                        fill: #eee;
                        stroke: #eee;
                    }
                }
                &:hover {
                    background-color: $cards;
                    .icon-wishlist {
                        .icon-wishlist-path {
                            fill: $nintendo;
                            stroke: $nintendo;
                        }
                    }
                }
            }
        }
        .game_card-link {
            z-index: -1;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                color: #eee;
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: bold;
                text-shadow: $text-shadow;
                text-transform: uppercase;
                padding: 0.7rem 1rem;
                background-color: $playsation;
                border-radius: 3px;
            }
        }
        .game_card-footer {
            z-index: -1;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            width: 100%;
            height: 40%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: end;
            align-items: end;
            margin-top: auto;
            padding: 0.8rem;
            background: linear-gradient(
                to top,
                rgba(58, 58, 58, 1) 0%,
                rgba(58, 58, 58, 0.8) 50%,
                rgba(58, 58, 58, 0) 100%
            );

                .game-platforms {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    margin-bottom: 0.5rem;
                    small{
                        background-color: $blue;
                        padding: 0.4rem 0.6rem;
                        margin-right: 0.4rem;
                        margin-bottom: 0.4rem;
                        text-shadow: $text-shadow;
                        font-size: 0.9rem;
                    }
                }
                .footer_content{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                .game-released {
                    background-color: #41495a;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        padding: 0.4rem;
                        font-size: 0.9rem;
                        font-weight: bold;
                        text-shadow: $text-shadow;
                    }
                }
                .game-scores {

                    p {
                        margin: 0;
                        text-align: right;
                        font-weight: bold;
                        font-size: 0.9rem ;
                    }
                    .score {
                        // padding: 0.2rem 0.3rem;
                        padding: 0.4rem;
                        font-size: 0.9rem;
                        font-weight: bold;
                        border-radius: 3px;
                        text-shadow:
                            2px 0 black,
                            -2px 0 black,
                            0 2px black,
                            0 -2px black,
                            1px 1px black,
                            -1px -1px black,
                            1px -1px black,
                            -1px 1px black;
                    }
                    .score-green {
                        border: 2px solid $green;
                        color: $green;
                    }
                    .score-blue {
                        border: 2px solid $blue;
                        color: $blue;
                    }
                    .score-yellow {
                        border: 2px solid $yellow;
                        color: $yellow;
                    }
                    .score-red {
                        border: 2px solid $red;
                        color: $red;
                    }
                    .score-null {
                        border: 2px solid #888;
                        color: #888;
                        text-shadow: none !important;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .last_tested_games {
        .game_card-category {
            padding: 0.3rem 0.5rem !important;
            p {
                font-size: 0.8rem !important;
            }
        }
        .game_card-collections {
            height: 40% !important;
            padding: 0.5rem !important;
            .collection_button {
                width: 1.75rem !important;
                height: 1.75rem !important;
                .collection_icon {
                    width: 50% !important;
                    height: 50% !important;
                }
            }
            .pophover {
                display: none !important;
            }
        }
        .game_card-link {
            height: 20% !important;
            a {
                font-size: 1rem !important;
                padding: 0.5rem 0.8rem !important;
            }
        }
        .game-platforms {
            display: none !important;
        }
        .game_card-footer {
            height: 40% !important;
            display: flex !important;
            flex-flow: row wrap !important;
            justify-content: space-between !important;
            align-items: flex-end !important;
            padding: 0.5rem !important;
            .game-platforms {
                margin-bottom: 0 !important;
                small {
                    padding: 0.2rem 0.3rem !important;
                    margin-right: 0.3rem !important;
                    margin-bottom: 0.3rem !important;
                    font-size: 0.8rem !important;
                }
            }
            .footer_content {
                .game-released {
                    span {
                        padding: 0.2rem !important;
                        font-size: 0.7rem !important;
                    }
                }
                .game-scores {
                    p {
                        font-size: 0.7rem !important;
                    }
                    .score {
                        padding: 0.2rem !important;
                        font-size: 0.75rem !important;
                    }
                }
            }
        }
    }
}