.homepage {
    // * {
    //     border: 1px solid red;
    // }

    .filter {
        .filter_btn {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
            margin: 5rem 0 1.5rem;
            button {
                width: 16.6%;
                padding: 0.5rem 1rem;
                border: none;
                background-color: transparent;
                color: #fff;
                text-transform: uppercase;
                cursor: pointer;
                text-shadow:
                    2px 0 black,
                    -2px 0 black,
                    0 2px black,
                    0 -2px black,
                    1px 1px black,
                    -1px -1px black,
                    1px -1px black,
                    -1px 1px black;
            }
            #platforms {
                border: 1px solid $blue;
                border-right: none;
                &:hover,
                &.active {
                    background-color: $blue;
                    color: #fff;
                }
            }
            #themes {
                border: 1px solid $green;
                border-right: none;
                border-left: none;
                &:hover,
                &.active {
                    background-color: $green;
                    color: #fff;
                }
            }
            #genres {
                border: 1px solid $yellow;
                border-right: none;
                border-left: none;
                &:hover,
                &.active {
                    background-color: $yellow;
                    color: #fff;
                }
            }
            #modes {
                border: 1px solid $purple;
                border-right: none;
                border-left: none;
                &:hover,
                &.active {
                    background-color: $purple;
                    color: #fff;
                }
            }
            #rating {
                border: 1px solid $light-blue;
                border-right: none;
                border-left: none;
                &:hover,
                &.active {
                    background-color: $light-blue;
                    color: #fff;
                }
            }
            #released {
                border: 1px solid $red;
                border-left: none;
                &:hover,
                &.active {
                    background-color: $red;
                    color: #fff;
                }
            }
        }
        .filter_show {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            margin-bottom: 1.5rem;
            button {
                margin: 0.3rem;
                padding: 0.3rem 0.5rem;
                border: 1px solid;
                background-color: transparent;
                color: #fff;
                font-size: 1rem;
                text-shadow:
                    2px 0 black,
                    -2px 0 black,
                    0 2px black,
                    0 -2px black,
                    1px 1px black,
                    -1px -1px black,
                    1px -1px black,
                    -1px 1px black;
            }
            .input-platforms {
                display: inline-block;
                width: 100%;
                margin-bottom: 1rem;
                input {
                    width: 30%;
                    padding: 0.5rem 1rem;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .add_button-platforms {
                border-color: $blue;
                &:hover {
                    background-color: $blue;
                }
            }
            .category {
                .add_button-themes {
                    border-color: $green;
                    &:hover {
                        background-color: $green;
                    }
                }
                .add_button-genres {
                    border-color: $yellow;
                    &:hover {
                        background-color: $yellow;
                    }
                }
                .add_button-modes {
                    border-color: $purple;
                    &:hover {
                        background-color: $purple;
                    }
                    // &.active-result {
                    //     background-color: $purple;
                    // }
                }
            }
            //* Slider Rating & Released
            .slider {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                width: 50%;

                #rating-slider {
                    .noUi-target {
                        background: #fff;
                        border: 2px solid $light-blue;
                    }
                    .noUi-handle {
                        border: 1px solid black;
                        background: $light-blue;
                    }
                    .noUi-connect {
                        background: $light-blue;
                    }
                    .noUi-marker {
                        background: $light-blue;
                    }
                }
                #released-slider {
                    .noUi-target {
                        background: #fff;
                        border: 2px solid $red;
                    }
                    .noUi-handle {
                        border: 1px solid black;
                        background: $red;
                    }
                    .noUi-connect {
                        background: $red;
                    }
                    .noUi-marker {
                        background: $red;
                    }
                }
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.2rem;
                    margin-left: 2rem;
                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }

                .add_button-rating {
                    border-color: $light-blue;
                    &:hover {
                        background-color: $light-blue;
                    }
                }

                .add_button-released {
                    border-color: $red;
                    &:hover {
                        background-color: $red;
                    }
                }
            }
        }
        .filter_selected {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            margin-bottom: 1.5rem;
            .result {
                display: flex;
                flex-flow: row nowrap;
                margin: 0.3rem;
                background-color: transparent;
                .result-remove {
                    font-family: "Nunito", sans-serif;
                    font-weight: lighter;
                    padding: 0.5rem 1rem;
                }
                button,
                p {
                    padding: 0.5rem;
                    color: #fff;
                    background-color: transparent;
                    border: none;
                    margin: 0;
                    text-shadow:
                        2px 0 black,
                        -2px 0 black,
                        0 2px black,
                        0 -2px black,
                        1px 1px black,
                        -1px -1px black,
                        1px -1px black,
                        -1px 1px black;
                }
                .result-remove {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-left: none;
                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                    &:hover {
                        background-color: red;
                        border: 1px solid red;
                    }
                }
            }
            // Selected Platforms
            .result-platforms {
                .result-text {
                    background-color: $blue;
                    border: 1px solid $blue;
                    border-right: none;
                }
                .result-remove {
                    background-color: $blue;
                    border: 1px solid $blue;
                }
            }
            // Selected themes
            .result-themes {
                .result-text {
                    background-color: $green;
                    border: 1px solid $green;
                    border-right: none;
                }
                .result-remove {
                    background-color: $green;
                    border: 1px solid $green;
                }
            }
            // Selected genres
            .result-genres {
                .result-text {
                    background-color: $yellow;
                    border: 1px solid $yellow;
                    border-right: none;
                }
                .result-remove {
                    background-color: $yellow;
                    border: 1px solid $yellow;
                }
            }
            // Selected modes
            .result-modes {
                .result-text {
                    background-color: $purple;
                    border: 1px solid $purple;
                    border-right: none;
                }
                .result-remove {
                    background-color: $purple;
                    border: 1px solid $purple;
                }
            }
            // Selected Rating
            .result-rating {
                .result-text {
                    background-color: $light-blue;
                    border: 1px solid $light-blue;
                    border-right: none;
                }
                .result-remove {
                    background-color: $light-blue;
                    border: 1px solid $light-blue;
                }
            }
            .update-result {
                p {
                    // animation de clignotement
                    animation: blink 0.8s; // Réduire la durée de l'animation à 0.25s
                    animation-iteration-count: 1; // Répéter l'animation x fois

                    @keyframes blink {
                        0% {
                            opacity: 1;
                        }
                        50% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                        }
                    }
                }
                .result-text-rating {
                    background-color: $light-blue;
                    border: 1px solid $light-blue;
                    border-right: none;
                }
                .result-text-released {
                    background-color: $red;
                    border: 1px solid $red;
                    border-right: none;
                }
            }
            // Selected Released
            .result-released {
                .result-text {
                    background-color: $red;
                    border: 1px solid $red;
                    border-right: none;
                }
                .result-remove {
                    background-color: $red;
                    border: 1px solid $red;
                }
            }
        }
    }

    #games_list {
        .games_cards {
            //* Voire le fichier _gridTemplate.scss pour les différentes tailles d'écran
            // display: grid;
            // grid-template-columns: repeat(8, 1fr);
            // grid-gap: 1rem;
            .game_card {
                width: 100%;
                height: 200px;
                overflow: hidden;
                border-radius: 5px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: #DEDEDE;
                &:hover {
                    // border: 1px solid white;
                    // border-radius: 5px;
                    .game_card_img {
                        opacity: 0.25;
                    }
                    .game_card_info {
                        opacity: 1;
                    }
                }

                .game_card_img {
                    border: 1px solid transparent;
                    max-width: 100%;
                    max-height: 100%;
                    opacity: 1;
                    transition: all 0.5s ease-in-out;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                }
                .game_card_info {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    opacity: 0;
                    transition: all 0.5s ease-in-out;

                    h3 {
                        text-align: center;
                        color: $blue;
                        font-size: 1.2rem;
                        font-weight: bold;
                        padding: 0;
                        margin: 0;
                        text-shadow:
                            2px 0 black,
                            -2px 0 black,
                            0 2px black,
                            0 -2px black,
                            1px 1px black,
                            -1px -1px black,
                            1px -1px black,
                            -1px 1px black;
                    }
                }
            }
        }
    }

    #games_sort {
        width: 100%;
        margin-bottom: 2rem;
        .sort_games {
            display: flex;
            flex-flow: row nowrap;
            justify-content: end;
            button {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;
                padding: 0.25rem 0.5rem;
                border: 1px solid tomato;
                background-color: transparent;
                border-radius: 3px;
                color: #fff;
                font-weight: bold;
                text-shadow:
                2px 0 black,
                -2px 0 black,
                0 2px black,
                0 -2px black,
                1px 1px black,
                -1px -1px black,
                1px -1px black,
                -1px 1px black;
                img {
                    width: 1.25rem;
                    height: 1.25rem;
                    margin-left: 1rem;
                }
            }
            .sort_rating {
                margin-left: 0.5rem;
                // margin-right: 0.5rem;
            }
            .sort-active {
                background-color: tomato;
            }
        }
    }
}

// nouislider
/* Cible le slider lui-même */
.noUi-target {
    // background: #fff;
    // border: 2px solid $blue;
    border-radius: 5px;
    height: 10px;
    width: 90% !important;
}

// /* Cible les poignées du slider */
.noUi-handle {
    width: 25px !important;
    height: 25px !important;
    top: -10px !important;
    // right: 20px !important;
    // border: 1px solid black;
    // background: $blue;
    box-shadow: none;
    &::before {
        display: none;
    }
    &::after {
        display: none;
    }
}

// /* Cible la gamme de sélection du slider */
.noUi-connect {
    // background: $blue;
}

.noUi-tooltip {
    font-size: 0.75rem;
}

.noUi-pips {
    font-size: 0.75rem;
}
.noUi-marker {
    height: 10px;
    width: 1px;
    // background: $blue;
    margin-top: -5px;
}
