
header {
    position: relative;
    // color: black;
    ul {
        list-style: none;
        padding: 0;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 15%;
        transition: width 0.3s ease-in-out;
        background-color: $nav-bg;
        position: fixed;
        z-index: 9999;
        padding: 3rem 2rem;

        .menu-button {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 48px;
            right: -18px;
            padding: 0.5rem;
            margin: 0;
            font-size: 1.5rem;
            color: $nav-arrow-color;
            background-color: $nav-arrow-bg;
            border: none;
            border-radius: 50%;

            .chevron-back {
                display: none;
                width: 20px;
                height: 20px;
            }
            
            .chevron-forward {
                display: block;
                width: 20px;
                height: 20px;
            }

            .chevron-back path{
                stroke: $nav-arrow-color;
            }
            
            .chevron-forward path{
                stroke: $nav-arrow-color;
            }
        }

        .menu_content {
            box-sizing: border-box;
            height: 100%;
            width: 100%;
            .menu-logo {
                margin-bottom: 3rem;
            }
            .menu_content-list {
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 90%;
                margin: 0;
                .list_item {
                    display: flex;
                    flex-flow: row nowrap;
                }
                .link-search {
                    border: none;
                }
                .active {
                    border: 2px solid $nav-item-active-border;
                    border-radius: 5px;
                    background-color: $nav-item-active-bg;
                    color: $nav-item-active-texte;
                }
                .security {
                    background-color: #8a9399d5;
                }
            }
        }
    }
    .menu-link {
        border: 2px solid transparent;
        &:hover {
            border: 2px solid $nav-item-hover-border;
            border-radius: 5px;
            color: $nav-item-hover-text;
        }
    }

    .menu-link,
    .list_item_user-link,
    .link-search {
        box-sizing: border-box;
        font-size: 0.95rem;
        font-weight: bolder;
        position: relative;
        margin-bottom: 1rem;
        width: 100%;
        height: 40px;
        text-decoration: none;
        color: $nav-text;
        background-color: $nav-item-bg;
        border-radius: 5px;
        display: flex;
        align-items: center;
        img {
            position: absolute;
            top: 50%;
            left: -2px;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            padding: 10px;
        }
        .icon-avatar {
            left: 0;
        }

        .link-title {
            padding-left: 40px;
        }
    }

    // Login button
    .list_item_user {
        margin-top: auto;
        .list_item_user-link {
            width: 100%;
            border: 2px solid transparent;
            border-radius: 5px;
            margin-top: auto;
            margin-bottom: 0;
            &:hover {
                border: 2px solid $nav-item-hover-border;
                border-radius: 5px;
            }
            .list_item_user-link-login {
                height: 100%;
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                margin-left: 40px;
                font-size: 0.8rem;
                font-weight: 700;
                .link-login {
                    height: 100%;
                    width: 100%;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $nav-text;
                }
                .link-register {
                    height: 100%;
                    width: 100%;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $nav-text;
                }
                .link-login:hover,
                .link-register:hover {
                    background-color: $nav-item-hover-bg;
                }
            }
        }
    }

    .link-search {
            border: 2px solid transparent !important;
            border-radius: 5px !important;
            &:hover {
                border: 2px solid $nav-item-hover-border !important;
                border-radius: 5px !important;
            }
    }

    // Comportement du menu en transtion
    .menu,
    .menu-hidden {
        .menu-link,
        .list_item_user-link,
        .link-search {
            transition: width 0.3s ease-in-out;
            width: 100%;
        }
    }

    .menu {
        // transition: width 0.3s ease-in-out;
        // width: 15%;
        span,
        .list_item_user-link-login {
            white-space: nowrap;
            opacity: 1;
            visibility: visible;
            transition:
                opacity 0.3s ease-in-out,
                visibility 0.3s ease-in-out;
        }
    }

    .menu-hidden {
        width: 104px;
        .menu-link,
        .list_item_user-link,
        .link-search {
            width: 40px;
        }
        span,
        .list_item_user-link-login {
            opacity: 0;
            visibility: hidden;
            transition:
                opacity 0.3s ease-in-out,
                visibility 0.3s ease-in-out;
        }
    }
}

// Formulaire de recherche
.link-search {
    span {
        height: 100%;
        form {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            height: 100%;
            input {
                width: 100%;
                border-color: $nav-item-border;
                padding: 0.2rem 0.4rem;
                background-color: $nav-item-bg;
                border: none;
                border-left: 1px solid $nav-item-border;
                border-radius: 0 5px 5px 0;
            }
            input:focus {
                box-shadow: none;
                outline: none;
                background-color: $nav-item-bg;
                border-left: 1px solid $nav-item-border;
            }
            input::placeholder {
                color: $nav-text;
                font-weight: bolder;
            }
        }
    }
}

// Position du menu etant logger
.bottom-list {
    margin-top: auto;
}
// Avatar Item
.menu-link-avatar {
    img {
        padding: 2px !important;
        border-radius: 5px !important;
    }
}

@media screen and (max-width: 780px) {

    header {
        .menu {
            width: 85%;
            padding: 3rem;
            transform: translateX(-100%);
            transition: transform 0.3s ease-in-out;
            .list_item_user {
                margin-top: auto;
            }
        }

        // Comportement du menu en transtion
        .menu:not(.menu-hidden) {
            transform: translateX(0);
        }
        .menu-hidden {
            .menu-button {
                right: -50px;
                transition: right 0.3s ease-in-out;
            }
        }
    }
}
