header {
    position: relative;
    color: black;
    // * {
    //     border: 1px solid red;
    // }
    ul {
        list-style: none;
        padding: 0;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;

        height: 100vh;
        background-color: $bg-white;
        position: fixed;
        z-index: 9999;
        padding: 2rem;

        .menu-button {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 20px;
            right: -18px;
            // padding: 0.5rem 0.5rem 0.5rem 2rem;
            padding: 0.5rem;
            margin: 0;
            font-size: 1.5rem;
            color: white;
            background-color: tomato;
            border: none;
            border-radius: 50%;
            .chevron-back {
                display: block;
                width: 20px;
                height: 20px;
            }

            .chevron-forward {
                display: none;
                width: 20px;
                height: 20px;
            }
        }

        .menu_content {
            height: 100%;
            .menu-logo {
                margin-bottom: 3rem;
            }
            .menu_content-list {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                .list_item {
                    display: flex;
                    flex-flow: row nowrap;
                    .list_item-link {
                    }
                }
                .link-search {
                    border: none;
                }
                .list_item-user {
                    margin-top: auto;
                    margin-bottom: 5rem;
                }
                .active {
                    border: 2px solid tomato;
                }
            }
        }
    }

    a, .link-search {
        font-size: 0.95rem;
        font-weight: bolder;
        position: relative;
        margin-bottom: 1rem;
        width: 100%;
        height: 40px;
        text-decoration: none;
        color: #41495a;
        background-color: #8a939940;
        border-radius: 5px;
        display: flex;
        align-items: center;
        img {
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            padding: 10px;
        }

        .link-title {
            padding-left: 40px;
        }
    }

    // Comportement du menu en transtion
    .menu,
    .menu-hidden {
        a, .link-search {
            transition: width 0.3s ease-in-out;
            width: 100%;
        }
    }

    .menu {
        transition: width 0.3s ease-in-out;
        width: 15%;
        span {
            opacity: 1;
            visibility: visible;
            transition:
                opacity 0.3s ease-in-out,
                visibility 0.3s ease-in-out;
        }
    }

    .menu-hidden {
        width: 104px;
        a, .link-search {
            width: 40px;
        }
        span {
            opacity: 0;
            visibility: hidden;
            transition:
                opacity 0.3s ease-in-out,
                visibility 0.3s ease-in-out;
        }
    }
}

.link-search {
    span {
        height: 100%;
        form {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            height: 100%;
            input {
                width: 100%;
                border-color: #8a939940;
                padding: 0.2rem 0.4rem;
                background-color: #D5D7D8;
                border: none;
                border-left: 1px solid #8a939940;
                border-radius: 0 5px 5px 0;
            }
            input:focus {
                box-shadow: none;
                outline: none;
            }
        }
    }
}
