// @import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@import "colors.scss";
@import "gridTemplate.scss";
@import "mixins.scss";
@import "cartes.scss";
@import "gameCard.scss";
@import "nav.scss";
// @import "sidebar.scss";
// @import "searchBar.scss";
@import "filter.scss";
@import "popular.scss";
@import "new.scss";
@import "friends.scss";
@import "game.scss";
@import "detail.scss";
@import "auth.scss";
@import "dashboard.scss";
@import "notifications.scss";
@import "loader.scss";
@import "userGames.scss";
@import "homepage.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Afacad", sans-serif;
    // font-family: "Pixelify Sans", sans-serif;
    // font-family: "Quicksand", sans-serif;
    // font-family: "Lato", sans-serif;
    // font-family: Arial, Helvetica, sans-serif;
    // font-family: 'Bebas Neue', sans-serif;
    // font-family: 'Anton', sans-serif;
    min-height: 100vh;
    background-color: $background !important;
    color: $text-light;
    // margin: 0;
    // padding: 0;
}

p {
    margin: 0;
}

.page-title {
    display: inline-block;
    h1 {
        font-family: "Anton", sans-serif;
        width: 100%;
        font-size: 2.5rem;
        font-weight: bolder;
        margin-bottom: 1rem;

        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: #fff;
        text-shadow: $text-shadow;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 2px solid #fff;
    }
}

#overlay-connection {
    z-index: 9998;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    .overlay-message {
        z-index: 9999;
        padding: 3rem;
        width: 30%; // Vous pouvez ajuster la taille du carré ici
        height: 50%; // Vous pouvez ajuster la taille du carré ici
        background-color: $cards;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
        text-shadow: $text-shadow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        position: relative; // Ajoutez cette ligne pour positionner le bouton de fermeture par rapport à .overlay-message
        .message {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;
            text-align: center;
            p{
                margin: 2rem 0 1rem;
            }
            span {
                font-weight: lighter;
            }
        }
        .overlay-button {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            a {
                border: none;
                color: #fff;
                text-shadow: $text-shadow;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                border-radius: 5px;
                cursor: pointer;
                width: 100%;
            }
            #login-button {
                background-color: $blue;
                margin-right: 1rem;
            }
            #register-button {
                background-color: $green;

            }
        }
        #close-overlay {
            position: absolute;
            top: 10px; // Ajustez cette valeur pour déplacer le bouton vers le bas
            right: 10px; // Ajustez cette valeur pour déplacer le bouton vers la gauche
            font-size: 20px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}

//********** Margin
//********************************************/
@media screen and (max-width: 780px) {
    .body-content.menu-open {
        filter: blur(5px);
    }
    .containers {
        margin: 0 auto;
        padding: 0 0.5rem;
    }

    #overlay-connection {
        .overlay-message {
            padding: 10rem 2rem 5rem;
            z-index: 9999;
            width: 100%; // Vous pouvez ajuster la taille du carré ici
            height: 100%; // Vous pouvez ajuster la taille du carré ici
            background-color: $cards;
            border-radius: 5px;
            color: #fff;
            font-weight: bold;
            text-shadow: $text-shadow;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            font-size: 20px;
            position: relative; // Ajoutez cette ligne pour positionner le bouton de fermeture par rapport à .overlay-message
            .message {
                text-align: center;
                margin-bottom: 2rem;
                p{
                    margin: 2rem 0 1rem;
                }
                span {
                    font-weight: lighter;
                }
            }
            .overlay-button {
                display: flex;
                flex-direction: column;
                width: 100%;
                button {
                    width: 100%;
                    border: none;
                    color: #fff;
                    text-shadow: $text-shadow;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    border-radius: 5px;
                    cursor: pointer;
                }
                #login-button {
                    background-color: $blue;
                    margin-right: 0;
                    margin-bottom: 1rem;
                }
                #register-button {
                    background-color: $green;
    
                }
            }
            #close-overlay {
                position: absolute;
                top: 10px; // Ajustez cette valeur pour déplacer le bouton vers le bas
                right: 10px; // Ajustez cette valeur pour déplacer le bouton vers la gauche
                font-size: 20px;
                border: none;
                background-color: transparent;
                cursor: pointer;
                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    
}

@media screen and (min-width: 780px) and (max-width: 1200px) {
    .containers {
        margin: 0 auto;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .containers {
        margin: 0 11rem;
        padding: 0 8rem;
    }
}
